
.footer{

    display:auto;
    min-width: 1218px;
    width: 100%;
    height: auto;
    padding: 0;
   
}


body{
    display: block;
}

.caja1{

    width: 80%;
    display: flex;
}
.caja2{

    
    display: flex;
}
.caja3{

   
    display: flex;
}
.caja4{

    
    display: flex;
}

